flows/AutonomIQ_Test_Suite.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Execute_Test_Suite</name>
        <label>Execute Test Suite</label>
        <locationX>727</locationX>
        <locationY>335</locationY>
        <actionName>AutonomIQ.testSuiteId</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Update_Deployment_Job_with_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Body</name>
            <value>
                <elementReference>TestSuiteRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>testSuiteId</name>
            <value>
                <elementReference>suiteId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Test_Status</name>
        <label>Get Test Status</label>
        <locationX>1421</locationX>
        <locationY>332</locationY>
        <actionName>AutonomIQ.GetexecutionStatusOfJobByTestSuite</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Did_Test_Complete</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobId</name>
            <value>
                <elementReference>Execute_Test_Suite.200.jobx5fid</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Browser_Properties</name>
        <label>Assign Browser Properties</label>
        <locationX>401</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>BrowserDetails.browser</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Chrome</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BrowserDetails.browserVersion</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0.0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Test_Execution_Settings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Test_Execution_Settings</name>
        <label>Assign Test Execution Settings</label>
        <locationX>552</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>TestSuiteRequest.executionMode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>parallel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSuiteRequest.executionType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>smoke</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSuiteRequest.isRemoteDriver</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSuiteRequest.platform</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Linux</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TestSuiteRequest.browserDetails</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>BrowserDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Execute_Test_Suite</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>executions</name>
        <dataType>String</dataType>
        <value>
            <stringValue>executions</stringValue>
        </value>
    </constants>
    <constants>
        <name>start_url</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://customer.autonomiq.ai/</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Did_Test_Complete</name>
        <label>Did Test Complete?</label>
        <locationX>1402</locationX>
        <locationY>586</locationY>
        <defaultConnector>
            <targetReference>Update_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Test Failed</defaultConnectorLabel>
        <rules>
            <name>Test_Succeeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Status.200.jobx5fexecutionx5fstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SUCCESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Result</targetReference>
            </connector>
            <label>Test Succeeded</label>
        </rules>
        <rules>
            <name>Test_In_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Status.200.jobx5fexecutionx5fstatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>INPROGRESS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Wait_for_Test_Completion</targetReference>
            </connector>
            <label>Test In Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Test_Execute</name>
        <label>Did Test Execute?</label>
        <locationX>1047</locationX>
        <locationY>337</locationY>
        <defaultConnector>
            <targetReference>Update_Result</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Test Not Executed</defaultConnectorLabel>
        <rules>
            <name>Test_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Test_Suite.200.jobx5fid</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Wait_for_Test_Completion</targetReference>
            </connector>
            <label>Test Executed</label>
        </rules>
    </decisions>
    <description>Execute AutonomIQ test suite and save the results in Copado.</description>
    <formulas>
        <name>CurrentTimeplus1minutes</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+(1/1440)</expression>
    </formulas>
    <formulas>
        <name>resultStatus</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Test_Status.200.jobx5fexecutionx5fstatus}==&apos;SUCCESS&apos;, &apos;Success&apos;, &apos;Failed&apos;)</expression>
    </formulas>
    <formulas>
        <name>tcsJobId</name>
        <dataType>String</dataType>
        <expression>Text({!Execute_Test_Suite.200.jobx5fid})</expression>
    </formulas>
    <interviewLabel>AutonomIQ Test Suite {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AutonomIQ Test Suite</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Result_Record</name>
        <label>Create Result Record</label>
        <locationX>176</locationX>
        <locationY>186</locationY>
        <connector>
            <targetReference>Prepare_Settings</targetReference>
        </connector>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>tcsJobId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Type__c</field>
            <value>
                <stringValue>Execute AutonomIQ Test Suite</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Link__c</field>
            <value>
                <stringValue>{!start_url}details/{!projectId}/suites</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Start_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_Deployment_Job_with_Results</name>
        <label>Update Deployment Job with Results</label>
        <locationX>891</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Did_Test_Execute</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>copadoJobId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__Last_Result__c</field>
            <value>
                <elementReference>Create_Result_Record</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Job__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Result</name>
        <label>Update Result</label>
        <locationX>1056</locationX>
        <locationY>584</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Result_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>copado__End_Time__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Error_Message__c</field>
            <value>
                <elementReference>Message</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Job_Id__c</field>
            <value>
                <elementReference>Execute_Test_Suite.200.jobx5fid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Status__c</field>
            <value>
                <elementReference>resultStatus</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Create_Result_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BrowserDetails</name>
        <apexClass>ExternalService__AutonomIQ_BrowserDetail</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Copado deployment job record Id.</description>
        <name>copadoJobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Id Of the AutonomIQ Project</description>
        <name>projectId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Id of the Suite to be executed</description>
        <name>suiteId</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SuiteSucceeded</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tcsResponse</name>
        <apexClass>ExternalService__AutonomIQ_TcsObject</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TestSuiteRequest</name>
        <apexClass>ExternalService__AutonomIQ_TestSuiteExecRequest</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <waits>
        <name>Prepare_Settings</name>
        <label>Prepare Settings</label>
        <locationX>176</locationX>
        <locationY>333</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Prepare_Suite_Settings</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Assign_Browser_Properties</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CurrentTimeplus1minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Prepare Suite Settings</label>
        </waitEvents>
    </waits>
    <waits>
        <name>Wait_for_Test_Completion</name>
        <label>Wait for Test Completion</label>
        <locationX>1258</locationX>
        <locationY>333</locationY>
        <defaultConnectorLabel>Default Path</defaultConnectorLabel>
        <waitEvents>
            <name>Pause_always</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>Get_Test_Status</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>CurrentTimeplus1minutes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Pause always</label>
        </waitEvents>
    </waits>
</Flow>
